.section-info {
    padding: 50px 0;
    overflow: hidden;

    @media screen and(min-width: 1281px) {
        padding: 50px 150px;
    }

    .img-box {
        position: relative;
        z-index: 1;

        img {
            width: 100%;
        }
    }

    .text {
        position: relative;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 3px;
        font-size: 20px;

        .title {
            font-weight: bold;
            font-size: 20px;
            position: relative;
            z-index: 10;
            color: rgba($black, 0.5);
            max-width: 440px;
            margin: 0 auto 20px auto;
        }

        .subtitle {
            max-width: 440px;
            margin: 20px auto;
        }

        .subtitle,
        .subtitle p {
            font-size: 20px;
            position: relative;
            z-index: 10;
            line-height: 24px;
        }

        .img-cream {
            position: absolute;
            top: 50%;
            transform: translate(30%, -50%);
            z-index: 0;
        }
    }

    @media screen and(max-width: 768px) {
        .text {
            margin: 20px auto;
        }
    }
}
