.section-about {
    padding: 45px 0;

    .img-box {
        img {
            width: 100%;
        }
    }

    .main-title {
        font-size: 20px;
        text-transform: uppercase;
        margin-bottom: 40px;
        letter-spacing: 3px;
    }

    .section-subtitle {
        font-size: 15px;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 2px;
        font-weight: bold;
        color: rgba($black, 0.5);
    }

    .text {
        max-width: 445px;
        margin: 10px auto;
    }

    .button-container {
        margin-top: 20px;
    }

    @media screen and(min-width: 1281px) {
        padding: 45px 150px;
    }

    @media screen and(max-width: 768px) {
        .img-box {
            margin-bottom: 15px;
        }
    }
}
