.section-tabs {
    padding: 50px 0;

    @media screen and(min-width: 1281px) {
        padding: 50px 150px;

        .tab-container .text {
            padding-right: 80px;
        }
    }

    .img-box {
        img {
            width: 100%;
        }
    }
}

.tabs-nav {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    .tab {
        font-size: 13px;
        text-transform: uppercase;
        letter-spacing: 3px;
        padding: 10px 0;
        position: relative;
        cursor: pointer;

        &::before,
        &::after {
            opacity: 0;
            content: "";
            position: absolute;
            background-color: $primary;
            transition: all 0.2s ease-in-out;
        }

        &::before {
            right: 0;
            bottom: 0;
            height: 1px;
        }

        &::after {
            left: 100%;
            bottom: -5px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
        }

        &.is-active {
            &::after {
                opacity: 1;
                animation: 0.3s ease-in-out 0.3s left-to-right forwards;
            }

            &::before {
                opacity: 1;
                animation: 0.3s ease-in-out 0.3s width forwards;
            }
        }

        & + .tab {
            margin-left: 45px;
        }
    }

    @media screen and(max-width: 685px) {
        flex-direction: column;
        justify-content: flex-start;

        .tab {
            width: 100%;

            & + .tab {
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }
}

.tab-container {
    display: none;

    .text {
        font-size: 12px;
        letter-spacing: 2px;
    }
}
