.section-main-banner {
    position: relative;
    overflow: hidden;

    .main-banner-item {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;
        overflow: hidden;
        background-size: cover;

        .background-image {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            background-attachment: fixed;
        }
    }

    .text {
        text-align: left;

        * {
            color: $white;
            font-size: 20px;
            letter-spacing: 4px;
        }
    }

    .main-banner-item-title {
        font-style: italic;
        font-size: 60px;
        line-height: 60px;
        margin: 0;
        letter-spacing: 8px;
        color: rgba($black, 0.5);
        position: relative;
        z-index: 10;

        img {
            animation: spin 20s linear infinite;
            position: absolute;
            right: 100%;
            top: -200px;
            margin-right: 15px;
            z-index: -1;
        }
    }

    .keep-scrolling {
        position: absolute;
        bottom: 50px;
        left: 50%;
        color: $white;
        font-size: 10px;
        letter-spacing: 4px;
        text-transform: uppercase;

        span {
            display: block;
            transform: translate(-50%, 0);
        }
    }

    .main-banner-container {
        padding: 0 220px;
    }

    @media screen and(min-width: 1025px) {
        height: calc(100vh - 103px);

        video {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            min-width: 100%;
            min-height: 100%;
            object-fit: cover;
        }

        .main-banner-item {
            height: calc(100vh - 103px);
        }
    }

    @media screen and(max-width: 1024px) {
        video {
            margin: 0;
            display: block;
            width: 100%;
        }

        .container-fluid {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: flex;
            flex-direction: column;

            .row {
                height: 100%;
            }
        }

        .main-banner-container {
            padding: 0 15px;
        }

        .main-banner-item-title {
            margin-top: 50px;
            font-size: 40px;

            img {
                left: -50%;
                top: -140px;
            }
        }

        .text,
        .text * {
            font-size: 16px;
        }
    }

    @media screen and(max-width: 768px) {
        .main-banner-item {
            .background-image {
                background-position: right;
            }
        }
    }

    @media screen and(max-width: 685px) {
        .main-banner-item-title {
            font-size: 20px;
            line-height: 30px;
            margin-top: 0;

            img {
                width: 200px;
                left: -120px;
                top: -60px;
            }
        }

        .text {
            max-width: 80%;
            font-size: 10px;

            * {
                font-size: 10px;
            }
        }

        .main-banner-item {
            .background-image {
                background-position: right;
            }
        }

        .keep-scrolling {
            display: none;
        }
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
