.section-images {
    padding: 50px 0;
    background-color: $section-bg;

    @media screen and(min-width: 1281px) {
        padding: 90px 100px;

        .img-box {
            padding: 5px;
        }
    }

    .img-box {
        video,
        img {
            width: 100%;
        }
    }

    @media screen and(max-width: 768px) {
        .img-box {
            margin-bottom: 10px;
        }
    }
}
