.section-text-and-image {
    padding: 50px 0;
    position: relative;
    background-position: right center;
    background-repeat: no-repeat;

    .img-box {
        img {
            width: 100%;
        }
    }

    .text-content {
        position: relative;
        padding-left: 100px;
        margin-left: 100px;
    }

    .main-title-container {
        margin-bottom: 40px;
    }

    .main-title {
        color: $primary;
        font-size: 20px;
        letter-spacing: 4px;
        text-transform: uppercase;
        font-weight: bold;

        i {
            display: block;
            color: $title-color;
            font-size: 18px;
            letter-spacing: 3px;
            font-weight: normal;
        }
    }

    .section-subtitle {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 3px;
        transform: rotate(270deg) translate(-100%, 10px);
        transform-origin: 0 0;
        margin: 10px 0 0 0;
        position: relative;
        padding: 5px 15px 5px 10px;
        color: $primary;

        &::after {
            content: "";
            height: 2px;
            background-color: rgba($black, 0.5);
            display: block;
            position: absolute;
            left: 0;
            top: 100%;
        }

        &::before {
            content: "";
            position: absolute;
            left: -10px;
            top: 100%;
            margin-top: -4px;
            width: 10px;
            height: 10px;
            background-color: rgba($black, 0.5);
            border-radius: 50%;
            transition: all 0.2s ease-in-out;
            transition-delay: 800;
        }
    }

    .counter {
        position: absolute;
        top: -10px;
        left: 0;

        &::before {
            counter-increment: section;
            content: "0" counter(section);
            color: $primary;
            font-size: 50px;
        }

        &.aos-animate {
            .section-subtitle {
                &::after {
                    animation: 0.3s ease-in-out 0.3s width forwards;
                }

                &::before {
                    animation: 0.3s ease-in-out 0.3s left forwards;
                }
            }
        }
    }

    &.has-baground-color {
        .img-box {
            visibility: hidden;
        }
    }

    .item-repeater {
        margin-top: 140px;
        padding-left: 50px;

        .item {
            display: flex;
            align-items: flex-start;

            .icon {
                width: 50px;
                text-align: center;
                flex-shrink: 0;
                margin-right: 25px;
            }

            .title {
                text-transform: uppercase;
                color: $primary;
                letter-spacing: 3px;
                font-weight: bold;
            }
        }
    }

    .text-bottom {
        margin-top: 20px;
    }

    @media screen and(max-width: 992px) {
        background-image: none !important;

        &.has-baground-color {
            .img-box {
                visibility: visible;
                margin-right: -15px;
            }
        }
    }

    @media screen and(min-width: 1281px) {
        padding: 50px 150px;

        &:nth-of-type(odd) {
            .row {
                flex-direction: row-reverse;
            }

            .text-content {
                margin-left: 50px;
                margin-right: 100px;
            }
        }
    }

    @media screen and(max-width: 768px) {
        .img-box {
            margin-bottom: 20px;
        }

        .main-title-container {
            margin-bottom: 15px;
        }

        .main-title {
            font-size: 16px;
        }

        .section-subtitle {
            transform: rotate(270deg) translate(-100%, -5px);
        }

        .counter::before {
            font-size: 30px;
        }

        .text-content {
            position: relative;
            padding-left: 40px;
            margin-left: 0;
        }

        .item-repeater {
            margin-top: 50px;
            padding-left: 0;
        }
    }
}

.section-products-information {
    counter-reset: section;
}
