.btn.primary,
.btn {
    padding: 13px 20px;
    min-width: 200px;
    text-align: center;
    border: 1px solid $black;
    text-transform: uppercase;
    font-size: 15px;
    border-radius: 0;
    transition: all 0.2s ease-in-out;
    background-color: transparent;
    color: $black;
    text-decoration: none;
    box-shadow: none;
    letter-spacing: 2px;
    outline: none;
    cursor: pointer;

    @media screen and(min-width: 1025px) {
        &:active,
        &:focus,
        &:hover {
            background-color: $black;
            color: $white;
            outline: none;
            border-color: $black;
            box-shadow: none;
        }
    }
}

.btn-link {
    color: rgba($black, 0.5);
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 0;

    &:hover {
        color: $black;
    }
}

.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
    background-color: transparent;
    color: $black;
    text-transform: uppercase;
    font-size: 11px;
    font-family: $reglar-font;
    border: 1px solid rgba($black, 0.5);
    padding: 15px 10px;
    letter-spacing: 2px;
    border-radius: 0;

    &:hover {
        background-color: $black;
        color: $white;
    }
}
