.follow-us {
    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            & + li {
                margin-left: 15px;
            }
        }

        a {
            display: block;

            img {
                display: block;
                margin: 0;
            }
        }
    }
}
