.section-instagram {
    padding: 50px 0;

    @media screen and(min-width: 1281px) {
        padding: 50px 150px;
    }

    .simple-title {
        text-transform: uppercase;
        letter-spacing: 4px;
        font-size: 20px;
        margin-bottom: 30px;
        text-align: center;
    }
}
