.woocommerce .quantity {
    position: relative;
    width: 80px;
    text-align: left;

    .qty {
        width: 60px;
        background-color: transparent;
        border: none;
        box-shadow: none;
        outline: none;
        border-right: 1px solid $primary;
        padding-top: 6px;
        padding-bottom: 6px;
        margin: 0;
        text-align: center;
        pointer-events: none;
        appearance: none;
        -webkit-appearance: none;

        &:focus {
            border-radius: 0;
            box-shadow: none;
            outline: none;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        &[type=number] {
            -moz-appearance: textfield;
        }
    }

    &-buttons {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
    }

    &-btn {
        width: 20px;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        font-size: 0;
        color: $black;
        background-image: url(../images/icon-qty.svg);
        background-repeat: no-repeat;
        background-position: center;

        & + &.quantity-btn {
            border-top: 1px solid $primary;
        }
    }

    .btn-decrement {
        transform: rotate(-180deg);
    }
}
