@font-face {
    font-family: "Century Gothic";
    src: url("../fonts/subset-CenturyGothic.eot");
    src:
        url("../fonts/subset-CenturyGothic.eot?#iefix") format("embedded-opentype"),
        url("../fonts/subset-CenturyGothic.woff2") format("woff2"),
        url("../fonts/subset-CenturyGothic.woff") format("woff"),
        url("../fonts/subset-CenturyGothic.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
