.woocommerce {
    .form-row,
    .woocommerce-input-wrapper,
    .woocommerce-form-row {
        display: block;
        padding: 0;

        label {
            font-size: 12px;
            line-height: 12px;
            margin-bottom: 0;
            display: block;
            color: rgba($black, 0.5);
            text-transform: uppercase;
        }

        textarea,
        select,
        input {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid transparent;
            padding: 13px 15px;
            background-color: $soft-white;
            letter-spacing: 1.5px;
            font-size: 14px;

            &:focus {
                border-color: rgba($black, 0.5);
            }
        }

        textarea {
            min-height: 100px;
            resize: none;
        }

        em,
        i {
            font-size: 12px;
        }
    }

    @media screen and(max-width: 768px) {
        .checkout_coupon {
            display: flex;
            flex-direction: column;

            .form-row-first,
            .form-row-last {
                width: 100%;
            }

            button.button {
                width: 100%;
            }
        }
    }
}

.wpcf7-form {
    br {
        display: none;
    }

    label {
        margin: 0;
        font-size: 12px;
    }
}

textarea.wpcf7-form-control {
    border-radius: 0;
    resize: none;
    height: 81px !important;
}

.wpcf7-form-control-wrap {
    margin-bottom: 10px;
    display: block;
}

.wpcf7-form-control {
    border: 1px solid $primary;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    padding: 9px 15px;
    font-size: 12px;
    border-top-right-radius: 60px;

    &:focus {
        border-color: $primary;
    }

    &.wpcf7-submit {
        border-bottom-left-radius: 60px;
        width: auto;
        min-width: 205px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2px;
    }
}

.button-submit {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wpcf7-submit {
        margin-left: auto;
        margin-bottom: 20px;
    }
}

.wpcf7-not-valid-tip {
    font-size: 12px;
}

.wpcf7 {
    form {
        .wpcf7-response-output {
            text-align: center;
            padding: 10px;
            font-size: 12px;
            margin: 0 0 15px 0;
        }

        &.sent {
            .wpcf7-response-output {
                border-color: $primary;
            }
        }

        &.invalid,
        &.invalid {
            .wpcf7-response-output {
                border-color: rgba($black, 0.5);
            }
        }
    }
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 42px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 42px;
}

.select2-container--default .select2-selection--single {
    height: 42px;
    border-radius: 0;
    border: 1px solid transparent;
    background-color: $soft-white;
}
