html,
body {
    font-family: $reglar-font;
}

body {
    padding-top: 103px;

    @media screen and(max-width: 768px) {
        padding-top: 83px;
    }
}

.section-products-information {
    background-size: cover;
    background-repeat: no-repeat;
}

.text {
    text-align: justify;

    li,
    p {
        letter-spacing: 2px;
        font-size: 12px;
        line-height: 20px;
    }
}

.swiper-container {
    .swiper-button-prev,
    .swiper-button-next {
        width: 60px;
        height: 70px;
        margin-top: -35px;
    }

    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
        background-image: url("../images/next.svg");
        right: 0;
    }

    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
        background-image: url("../images/prev.svg");
        left: 0;
    }
}

.page-main-title {
    text-transform: uppercase;
    padding: 40px 0 20px 0;
    font-size: 20px;
    letter-spacing: 2px;
}
