@keyframes left {
    0% {
        left: 0;
    }

    100% {
        left: 100%;
    }
}

@keyframes width {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes left-to-right {
    0% {
        left: 100%;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}
