/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
    primary: #ecb799
);

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Fonts
$reglar-font: "Century Gothic", sans-serif;

// Colors
$primary: #ecb799;
$main-color: #ecd3c5;
$section-bg: #ede8e5;
$black: #000;
$white: #fff;
$footer-bg: #ecd3c5;
$title-color: #808080;
$light-dark: #777573;
$soft-white: #faf5f5;
