.product-item {
    .img-box {
        img {
            max-width: 100%;
            display: block;
            margin: auto;
            max-height: 60vh;
        }
    }

    .product-item-title {
        .product-item-label {
            font-weight: bold;
            font-size: 16px;
            letter-spacing: 4px;
        }

        h2 {
            letter-spacing: 2px;
            margin: 0;
            font-size: 14px;
            font-style: italic;
        }

        a {
            color: rgba($black, 0.5);
            text-decoration: none;
        }
    }

    .product-price {
        text-align: center;
        padding: 10px;
        font-weight: bold;
        letter-spacing: 1.5px;
    }

    .product-item-buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 15px;

        .button {
            margin-top: 0 !important;
            color: $black;
            background-color: transparent !important;
            font-weight: normal;
            letter-spacing: 1px;
            border: 1px solid rgba($black, 0.5);
            border-radius: 0;
            text-transform: uppercase;
            font-size: 12px;
            padding: 13px 15px;
            text-decoration: none;
            text-align: center;

            &:hover {
                background-color: $black !important;
                color: $white;
            }
        }

        .added_to_cart {
            // margin-left: 10px;
            // padding-top: 0 !important;
            // color: rgba($black, 0.5);
            display: none;
        }
    }
}

.woocommerce div.product p.price,
.woocommerce div.product span.price {
    font-weight: bold;
    font-size: 20px;
    color: $light-dark;
}

.section-product-related {
    overflow: hidden;
}

.swiper-product-related {
    overflow: visible;

    .swiper-slide {
        &.swiper-slide-next,
        &.swiper-slide-active,
        &.swiper-slide-prev {
            .product {
                pointer-events: auto;

                &-item-buttons {
                    display: flex;
                }
            }
        }

        @media screen and(min-width: 769px) {
            .product {
                transition: all 0.2s ease-in-out;
                opacity: 0.5;
                pointer-events: none;

                &-item-buttons {
                    display: none;
                }
            }

            &:not(.swiper-slide-active) {
                .product {
                    transform: scale(0.75);
                }
            }

            &.swiper-slide-next,
            &.swiper-slide-active,
            &.swiper-slide-prev {
                .product {
                    pointer-events: auto;

                    &-item-buttons {
                        display: flex;
                    }
                }
            }

            &.swiper-slide-active,
            &.swiper-slide-next,
            &.swiper-slide-prev {
                .product {
                    opacity: 1;
                }
            }
        }
    }
}
