.woocommerce {
    .woocommerce-breadcrumb {
        display: none !important;
    }

    .product-detail-content {
        padding-top: 40px;
        display: flex;
        flex-wrap: wrap;
        background-size: cover;

        &-left {
            width: 100%;
            flex: 1 0 0;
        }

        &-center {
            .img-box {
                img {
                    display: block;
                    margin-left: auto;
                    margin-right: auto;
                }
            }
        }

        &-right {
            width: 100%;
            flex: 1 0 0;

            p.price,
            span.price {
                letter-spacing: 1.4px;
                font-size: 24px !important;
            }
        }

        &-icons {
            display: flex;
            align-items: baseline;
            justify-content: flex-end;
            margin-top: 25px;

            .icon-box {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                + .icon-box {
                    margin-left: 25px;
                }
            }
        }

        &-bottom {
            width: 100%;
            flex: 1 0 100%;
        }

        .product-label {
            color: rgba($black, 0.5);
            font-size: 18px;
            letter-spacing: 1.5px;
            font-weight: bold;
        }

        .product_title {
            font-size: 16px;
            font-style: italic;
            color: rgba($black, 0.5);
            letter-spacing: 2px;
            margin-bottom: 28px;
        }

        button.button {
            color: $black;
            background-color: transparent !important;
            font-weight: normal;
            letter-spacing: 1px;
            border: 1px solid rgba($black, 0.5);
            border-radius: 0;
            text-transform: uppercase;
            font-size: 12px;
            padding: 13px 15px;
            text-decoration: none;
            min-width: 180px;
            text-align: center;

            &:hover {
                color: $white;
                background-color: $black !important;
            }
        }

        .cart {
            display: flex;
            align-items: center;

            .quantity {
                margin-right: 20px !important;
            }
        }

        @media screen and(min-width: 993px) {
            .cart {
                justify-content: flex-end;
            }

            .stock {
                font-size: 14px;
            }

            .stock,
            .price {
                text-align: right;
            }
        }

        @media screen and(min-width: 1281px) {
            &-left {
                margin-top: 132px;
                padding-left: 150px;
            }

            &-center {
                max-width: 300px;
                width: 100%;
            }

            &-right {
                margin-top: 85px;
                padding-right: 150px;
            }

            .container-fluid {
                padding-left: 150px;
                padding-right: 150px;
            }
        }

        @media screen and(max-width: 1280px) {
            &-left {
                padding-left: 15px;
            }

            &-right {
                padding-right: 15px;
            }
        }

        @media screen and(max-width: 768px) {
            flex-direction: column;

            &-left {
                padding-right: 15px;
            }

            &-right {
                padding-left: 15px;
            }
        }
    }

    .section-product-info {
        min-height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 60px 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        position: relative;

        .text {
            max-width: 650px;
        }

        .img-box {
            display: none;
        }

        @media screen and(max-width: 768px) {
            padding: 0;
            min-height: initial;

            .container-fluid {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }

            .text {
                max-width: 320px;
            }

            .img-box {
                display: block;
                min-height: 32vh;
                height: 100px;

                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }

    .swiper-product-related {
        overflow: hidden;
    }

    .section-product-images {
        background: url(../images/product-images-bg.jpg) no-repeat center;
        background-size: cover;
        padding: 20px 0;
        overflow: hidden;

        .container-fluid {
            max-width: 1920px;

            @media screen and(min-width: 1281px) {
                padding-left: 100px;
                padding-right: 100px;
            }
        }

        .img-box {
            margin: auto;
            padding: 50px 0;
            position: relative;

            .cirle-img {
                animation: spin 50s linear infinite;
            }

            .circle-img-box {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                width: 100%;
            }

            img:not(.cirle-img) {
                display: block;
                margin: 0 auto;
                max-width: 80%;
            }

            @media screen and(max-width: 768px) {
                margin: 20px auto;
            }
        }

        [class*=col] {
            &:nth-of-type(odd) {
                .img-box .cirle-img {
                    animation: spin2 50s linear infinite;
                }
            }
        }
    }
}

@keyframes spin2 {
    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}
