.section-shop {
    background-size: cover;
}

.woocommerce .products-catalog-listing {
    .woocommerce-ordering,
    .woocommerce-result-count {
        display: none;
    }

    ul.products {
        display: flex;
        flex-wrap: wrap;

        @media screen and(min-width: 1281px) {
            padding-left: 130px;
            padding-right: 130px;
        }

        li.product {
            margin: 0;
            flex: 1 0 100%;
            width: 100%;
            margin-bottom: 20px;

            @media screen and(min-width: 685px) {
                max-width: 50%;
            }

            @media screen and(min-width: 769px) {
                max-width: 33.33%;
            }

            // @media screen and(min-width: 1281px) {
            //     max-width: 25%;
            // }

            .product-item {
                display: flex;
                align-items: center;

                .product-item-image {
                    max-width: 290px;
                    flex-shrink: 0;
                }

                .product-price {
                    text-align: left;
                    padding-left: 0;
                    color: $light-dark;
                }

                .product-item-title.text-center {
                    text-align: left !important;
                }

                .product-item-buttons {
                    justify-content: flex-start;
                    align-items: flex-start;
                    flex-direction: column;

                    // .added_to_cart {
                    //     margin-left: 0;
                    //     margin-top: 10px;
                    // }
                }
            }

            @media screen and(max-width: 685px) {
                .product-item {
                    .product-item-image {
                        max-width: 140px;
                    }
                }
            }
        }
    }
}
