.footer {
    background-color: $footer-bg;
    padding: 40px 0;

    .container {
        max-width: 1300px;
    }

    .text {
        font-size: 12px;
        letter-spacing: 3px;

        b,
        strong {
            color: rgba($black, 0.5);
        }

        p {
            margin-bottom: 5px;
        }

        * {
            font-size: 10px;
        }
    }

    a {
        color: $black;
        text-decoration: underline;
    }

    .nav {
        a {
            text-transform: uppercase;
            font-size: 10px;
        }
    }

    .col:nth-child(3) {
        max-width: 250px;
    }

    .col:nth-child(2) {
        flex-basis: auto;
        flex-grow: inherit;
        max-width: 220px;
        width: 100%;
        margin-right: 20px;
        margin-left: auto;
        flex-shrink: 0;
        border-right: 1px solid $black;
    }

    span {
        font-size: 10px;
    }

    @media screen and(min-width: 1281px) {
        padding: 20px 75px;
    }

    @media screen and(max-width: 768px) {
        .col:nth-child(3),
        .col:nth-child(2) {
            max-width: 100%;
            border-right: 0;
        }

        .footer-bottom {
            .row {
                flex-direction: column;
            }

            [class*=col] {
                margin-top: 20px;
            }
        }

        .text-right {
            text-align: left !important;

            p {
                margin: 0;
            }
        }
    }
}

.footer-image {
    width: 100%;

    img {
        width: 100%;
    }
}
