.header {
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background-color: $white;
    z-index: 899;

    .toggle-main-navigation {
        display: none;
    }

    .container {
        max-width: 1300px;
    }

    .follow-us {
        margin-left: 40px;
    }

    @media screen and(min-width: 1281px) {
        padding: 20px 75px;
    }

    @media screen and(max-width: 768px) {
        padding: 10px 0;

        .follow-us {
            display: none;
        }

        .toggle-main-navigation {
            display: block;
        }

        .nav-primary {
            position: fixed;
            top: 83px;
            right: 0;
            bottom: 0;
            width: 100%;
            max-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: $white;
            transform: translateX(100%);
            transition: all 0.2s ease-in-out;

            &.is-active {
                transform: translate(0);
            }

            ul {
                flex-direction: column;
                text-align: center;
            }

            li + li {
                margin-left: 0;
            }

            .cart-link {
                margin-left: 0;
            }
        }
    }
}

.nav-primary {
    position: relative;
    display: flex;
    align-items: center;

    .cart-link {
        position: relative;
        display: block;
        padding: 10px 15px;
        text-transform: uppercase;
        color: $black;
        font-size: 12px;
        letter-spacing: 3px;
        margin-left: 70px;

        a {
            color: $black;
        }

        .cart-count {
            position: absolute;
            right: 0;
            top: 0;
            width: 14px;
            height: 14px;
            line-height: 14px;
            text-indent: 2px;
            background-color: $black;
            color: $white;
            font-size: 10px;
            text-align: center;
            border-radius: 50%;
        }
    }

    ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
            & + li {
                margin-left: 70px;
            }

            a {
                display: block;
                padding: 10px 15px;
                text-transform: uppercase;
                color: $black;
                font-size: 12px;
                letter-spacing: 3px;
            }
        }
    }

    @media screen and(max-width: 1024px) {
        ul {
            li {
                & + li {
                    margin-left: 20px;
                }
            }
        }

        .cart-link {
            margin-left: 20px;
        }
    }

    @media screen and(max-width: 768px) {
        display: none;
    }
}

.toggle-main-navigation {
    height: 40px;
    width: 42px;
    position: relative;

    .toggle-menu-inner {
        display: block;
        position: absolute;
        left: 2px;
        top: calc(50% - 1.5px);
        width: 36px;
        height: 3px;
        background: $primary;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;

        &::before,
        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 36px;
            height: 3px;
            background: $primary;
            -webkit-transition: all 0.4s ease-in-out;
            transition: all 0.4s ease-in-out;
            z-index: 10;
        }

        &::before {
            top: -10px;
        }

        &::after {
            top: 10px;
        }
    }

    &.is-active {
        .toggle-menu-inner {
            background-color: $white;

            &::after {
                top: 0;
                transform: rotate(-45deg);
            }

            &::before {
                top: 0;
                transform: rotate(45deg);
            }
        }
    }
}
