.page-header {
    min-height: 155px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    position: relative;

    @media screen and(min-width: 1281px) {
        padding-left: 222px;
        padding-right: 220px;
    }

    .page-header-title {
        font-size: 22px;
        margin: 0;
    }

    .text {
        font-size: 15px;

        * {
            margin: 0;
        }
    }

    .img-box {
        display: none;
    }

    @media screen and(max-width: 768px) {
        .img-box {
            display: block;
        }

        .container-fluid {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    }
}
