.woocommerce .cart-collaterals .cross-sells,
.woocommerce-page .cart-collaterals .cross-sells {
    width: 100%;
    float: none;
}

.woocommerce .cart-collaterals .section-product-related,
.woocommerce-page .cart-collaterals .section-product-related {
    padding-top: 0;
}

.woocommerce-cart {
    .page-main-title {
        margin-bottom: 30px;
    }

    [name="update_cart"] {
        display: none !important;
    }

    .page-content {
        background-image: url('../images/cart-bg.jpg');
        background-size: cover;
        background-position: center;

        .container-fluid {
            @media screen and(min-width: 1281px) {
                padding-left: 130px;
                padding-right: 130px;
            }
        }
    }

    .woocommerce-cart-form table.shop_table {
        border: none;
        border-radius: 0;
        counter-reset: section;

        th {
            font-family: $reglar-font;
            font-weight: normal;
            letter-spacing: 2px;
            color: rgba($black, 0.5);
            text-transform: uppercase;
            font-size: 11px;
            text-align: center;

            &.product-name {
                text-align: left;
            }
        }

        td {
            padding: 10px 5px;
            background-color: $soft-white;

            &:not(.actions) {
                text-align: center;
            }

            &.product-number {
                width: 44px;

                span::before {
                    counter-increment: section;
                    content: counter(section);
                }
            }

            &.product-thumbnail {
                a {
                    display: block;

                    img {
                        display: block;
                        margin: auto;
                        width: 50px;
                    }
                }
            }

            &.product-name {
                font-size: 13px;
                letter-spacing: 2px;
                color: rgba($black, 0.5);
                text-align: left;

                .product-label {
                    font-weight: bold;
                }

                a {
                    text-decoration: none;
                    display: block;
                    font-style: italic;
                    color: rgba($black, 0.5);
                }
            }

            &.product-quantity {
                .quantity {
                    margin: auto;
                }
            }

            &.product-remove {
                a.remove:hover {
                    background-color: transparent;
                }
            }

            .amount {
                font-size: 15px;
                letter-spacing: 2px;
                color: $light-dark;
                font-weight: bold;
            }
        }

        @media screen and(max-width: 768px) {
            .product-number {
                display: none;
            }
        }
    }

    .coupon {
        max-width: 400px;
        width: 100%;
        display: flex;

        .input-text {
            width: 100% !important;
        }

        .button {
            flex-shrink: 0;
        }
    }

    .cart_totals {
        margin-top: 11px;

        h2 {
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: 1px;
            text-align: center;

            @media screen and(min-width: 1281px) {
                font-size: 14px;
            }
        }

        table.shop_table {
            border: none;
            border-radius: 0;

            tr {
                th {
                    text-transform: uppercase;
                }

                td {
                    text-align: right;
                }

                &.shipping {
                    th {
                        vertical-align: top;
                    }
                }
            }

            th,
            td {
                background-color: $soft-white;
                font-family: $reglar-font;
                font-weight: normal;
                letter-spacing: 2px;
                font-size: 13px;
                padding: 15px 15px;
            }
        }
    }

    @media screen and(max-width: 768px) {
        .button-container {
            display: none;
        }
    }
}
