.woocommerce .col2-set .col-1,
.woocommerce-page .col2-set .col-1 {
    width: 100%;
    float: none;
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0;
}

.woocommerce .col2-set .col-2,
.woocommerce-page .col2-set .col-2 {
    width: 100%;
    float: none;
    flex: 1 0 100%;
    max-width: 100%;
    padding: 0;
}

.woocommerce form {
    .form-row {
        padding: 3px 10px;

        &#billing_first_name_field {
            order: 1;
        }

        &#billing_last_name_field {
            order: 2;
        }

        &#billing_address_1_field {
            order: 3;
        }

        &#billing_city_field {
            order: 4;
            width: 40%;
        }

        &#billing_country_field {
            order: 5;
            width: 60%;

            .woocommerce-input-wrapper {
                background-color: $soft-white;
                display: block;
                padding: 11px 15px;
            }

            strong {
                font-weight: normal;
                font-size: 14px;
                letter-spacing: 1.5px;
            }
        }

        &#billing_postcode_field {
            order: 6;
            width: 40%;
        }

        &#billing_state_field {
            order: 7;
            width: 60%;
        }

        &#billing_phone_field {
            order: 8;
        }

        &#billing_email_field {
            order: 9;
        }

        &#billing_email_field,
        &#billing_phone_field,
        &#billing_first_name_field,
        &#billing_last_name_field {
            width: 50%;
        }
    }

    .woocommerce-terms-and-conditions-wrapper {
        .form-row {
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.woocommerce-billing-fields {
    &__field-wrapper {
        display: flex;
        flex-wrap: wrap;

        .form-row {
            width: 100%;
        }
    }
}

.woocommerce {
    .woocommerce-checkout-review-order {
        background-color: $soft-white;
        padding: 10px 30px;
    }

    table.woocommerce-checkout-review-order-table {
        border: none;
        border-radius: 0;
        border-collapse: collapse;

        th,
        td {
            border-left: none;
            border-right: none;
            border: none;
            font-size: 13px;
            text-transform: uppercase;
            padding: 14px 0;
            letter-spacing: 1.2px;
            font-weight: normal !important;
        }

        th {
            text-transform: uppercase;
            font-size: 12px;
            border-bottom: 1px solid #848da9;
        }

        tfoot td,
        tfoot th {
            border-top: 1px solid #848da9;
        }

        tfoot td,
        .product-total {
            text-align: right;
            border-bottom: 1px solid #848da9;
        }

        .product-name {
            border-bottom: 1px solid #848da9;
        }

        .woocommerce-shipping-totals.shipping th {
            vertical-align: top;
        }
    }
}

#add_payment_method,
.woocommerce-cart,
.woocommerce-checkout {
    #payment {
        background: none;

        div.form-row,
        ul.payment_methods {
            padding: 0;

            .woocommerce-privacy-policy-text {
                padding: 10px 0;

                p {
                    font-size: 12px;
                    line-height: 18px;

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}

.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
    float: none;
    width: 100%;
    padding: 18px 20px;
    margin-top: 15px;
}

.woocommerce form.checkout_coupon {
    p {
        margin-bottom: 10px;
    }

    .form-row {
        &.form-row-last,
        &.form-row-first {
            width: auto;
            float: left;
            padding: 0;
            margin: 0;

            button {
                border-radius: 0;
                border: 1px solid rgba($black, 0.5);
                padding: 14px 25px;
                font-size: 12px;
                text-transform: uppercase;
                letter-spacing: 2px;
                background-color: transparent;
                margin-left: 10px;
            }
        }
    }
}

.woocommerce-checkout {
    #customer_details {
        h3 {
            display: none;
        }
    }

    h3#order_review_heading {
        text-transform: uppercase;
        font-size: 12px;
        letter-spacing: 2px;
        text-align: center;
    }

    .page-content {
        background-image: url('../images/cart-bg.jpg');
        background-size: cover;
        background-position: center;
        padding-bottom: 100px;

        .page-main-title {
            margin-bottom: 50px;
        }

        .container-fluid {
            @media screen and(min-width: 1281px) {
                padding-left: 130px;
                padding-right: 130px;
            }
        }
    }

    .table-container {
        background-color: $soft-white;
        padding: 20px;
        margin-bottom: 20px;
    }
}

.woocommerce form .form-row label.checkbox,
.woocommerce-page form .form-row label.checkbox {
    display: flex;
    align-items: baseline;
}

.woocommerce form .form-row .input-checkbox {
    width: auto;
}

.woocommerce-order-received {
    .woocommerce-order {
        max-width: 940px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 70px;
    }

    .woocommerce-column__title,
    .woocommerce-thankyou-order-received {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 2px;
        margin-bottom: 25px;
    }

    .address {
        border: 1px solid rgba($black, 0.5);
        border-radius: 0;
        background-color: $soft-white;
        padding: 25px 20px;
    }

    .woocommerce ul.order_details {
        background-color: $soft-white;
        padding: 20px 30px;

        li {
            font-size: 11px;
            text-transform: uppercase;
            font-weight: normal;
            letter-spacing: 1.5px;

            strong {
                font-weight: normal;
                font-size: 13px;
            }
        }
    }

    .woocommerce-order-details {
        background-color: $soft-white;
        padding: 20px 30px;

        &__title {
            text-align: center;
            text-transform: uppercase;
            font-size: 16px;
            letter-spacing: 2px;
        }

        table.order_details {
            border: none;
            border-radius: 0;
            border-collapse: collapse;

            th,
            td {
                border-left: none;
                border-right: none;
                font-size: 13px;
                text-transform: uppercase;
                font-weight: normal;
                padding: 14px 0;
                letter-spacing: 1.5px;
            }

            tfoot {
                td,
                th {
                    font-weight: normal;
                }
            }
        }
    }
}
